*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    font-family: 'Righteous', sans-serif;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    margin-top: 10px;
    background-color: brown;
}
/* CONTAGEM */
.header{
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerGame{
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.contagem{
    /* background-color: rgba(219, 44, 44, 0.856); */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 1px;
    border-style: solid;
    border-color: rgb(230, 230, 126);
    color: white;
    align-self: center;
}
#gameBoard{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

/* TELA DE GAMEOVER */

.game0ver{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.85);
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    flex-direction: column;
    top: 0;
    left: 0;
}
#restart{
    background-color: yellow;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    font-size: 20px;
    padding: 20px;
}

/* CARTAS */

.card{
    width: 135px;
    height: 135px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
}
.card_front, .card_back{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0,0,0,.45);
    backface-visibility: hidden;

}
.flip{
    transform: rotateY(180deg);

}

.card_front{
    background-color: #101c2c;
    transform: rotateY(180deg);
}
.card_back{

    color: #101c2c;
    font-size: 30px;
    background-color: #05c3ff;


}

